body {
    margin: 0;
    background-color: black;

}

header {
    margin: 0;
    background-color: red;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 90%;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.menu .link {
    text-decoration: none;
    font-size: 24%px;
    color: aliceblue;
}

.hamb {
    display: none;
}

.parte1 {
    background-image: url(img/17796066_1479201975452890_379061627856586868_n-750x3751.png) ;
    background-size: 100%;
    height: 60vh;
    padding: 1px;
}

.parte2 {
    width: 40%;
    height: 15vh;

}

.parte2 h1 {
    font-size: 80px;
    color: aqua;
}

.parte3 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte3 img {
    width: 50%;
    height: 100%;
}

.parte3 texto {
    width: 60%;
    height: 100%;
}

.texto h1 {
    color: aquamarine;
    font-size: 40%;
}

.texto p {
    color: aquamarine;
    font-size: 15px;
}
@media screem and (max-width:800px) {
    .menu      { display: nome;   }
    .hamb      { display: inline; }
    .parte1    .titulo { width: 100%; }
    .titulo h1 { font-size: 60px; }
    .titulo h2 { font-size: 30px;}
    .parte2    { width: 100%;}
    .parte2 h1 { font-size: 30px; }
    .parte3    { display: inline;}
    .parte3 img{ width: 100%;}
    .parte3.texto { width: 100%;}                  
    .nome {
        display: none;
    }

    .hamb {
        display: none;
    }
}